body {
    max-width: 745px;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Ubuntu Mono';
}

.giustificato {
    text-align: justify;
    text-justify: inter-character;
}

figcaption, h2, h3, ruby {
    color: #464453;
}

.disab {
    color: #464453;
}

em, a:link, a:visited {
    color: #F79E10;
}

a:active, a:hover {
    color: black;
    background-color: #F79E10;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black !important;
    font-weight: bold;
}

.img-max-size {
    max-width: 100% !important;
    height: auto !important;
}
