<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FCTB" version="2.16.21.0" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
</packages>