<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="RC.master.cs" Inherits="RCWebMobile.RC" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

    <head runat="server">
        <title>RC Web</title>
        <link rel="shortcut icon" type="image/ico" href="http://www.maionemiky.it/favicon.ico">    
        <meta name="viewport" content="user-scalable=no, width=device-width">

        <style type="text/css">
            html
            {
                height: 100%;
            }
        
            body
            {
                height: 100%;
                margin: 0;
                padding: 0;
                font-size: small;
            }
        
            img
            {
                border-style: none;
            }
        </style>
    </head>

    <body>
        <form id="form1" runat="server">

            <div>
                <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="True" />

                <asp:Table ID="myTable" runat="server" Width="100%" Height="46px" BackImageUrl="~/images/menuBorder.png">
                    <asp:TableRow>
                        <asp:TableCell>
                            <a id="a1" runat="server" href='mMenu.aspx'>
                                <img src="images/RC16.png" title="Home" />
                            </a>
                        </asp:TableCell>                
                        <asp:TableCell>
                            <a id="a8" runat="server" href='mGrafico.aspx?T=Y'>
                                <img src="images/grafico55.png" title="Saldo" />
                            </a>
                        </asp:TableCell>
                        <asp:TableCell>
                            <a id="a9" runat="server" href='mLogin.aspx?C=L'>
                                <img src="images/logout.png" title="Log-out" />
                            </a>
                        </asp:TableCell>
                    </asp:TableRow>
                </asp:Table>

                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />
            </div>

        </form>
    </body>

</html>