body {
    max-width: 745px;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Ubuntu Mono';
    font-size: large;
}

.menu {
    display: flex;
}

    .menu a {
        display: inline-block;
        list-style: none;
    }

        .menu a:not(:last-of-type) {
            margin-right: 8px;
        }

        .menu a:last-of-type {
            margin-left: auto;
        }

.giustificato {
    text-align: justify;
    text-justify: inter-character;
}

@media (prefers-color-scheme: light) {
    .disab figcaption, h2, h3, ruby {
        color: #464453;
    }

    em, a:link, a:visited {
        color: #F79E10;
    }

    a:active, a:hover {
        color: black;
    }

    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: #464453 !important;
    }

    tr.trGrid:nth-child(odd) {
        background-color: #f0f0f0;
    }

    .trLabelC {
        color: #464453;
        font-size: x-large;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: #FFF;
    }

    button {
        background: #333;
        color: #FFF;
    }

    input {
        background: #333;
        color: #FFF;
    }

    select {
        background: #333;
        color: #FFF;
    }

    .disab figcaption, h2, h3, ruby {
        color: #F2F2F2;
    }

    em, a:link, a:visited {
        color: #F79E10;
    }

    a:active, a:hover {
        color: black;
    }

    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: #FFF !important;
    }

    tr.trGrid:nth-child(odd) {
        background-color: #474747;
    }

    .trLabelC {
        color: white;
        font-size: x-large;
    }
}

.img-max-size {
    max-width: 100%;
    height: auto;
}

.required:after {
    content: "٭";
    color: #F79E10;
}

select {
    box-sizing: border-box;
    width: 100%;
}

input {
    box-sizing: border-box;
    font-size: large;
}

    input:not([type='submit']) {
        box-sizing: border-box;
        width: 100%;
    }

    input[type='submit'] {
        box-sizing: border-box;
        cursor: pointer;
    }

    input[type='checkbox'] {
        width: auto;
    }

    input:user-invalid {
        border-color: #F79E10;
    }

.descrizione {
    width: 100%;
}

.trLabel {
    color: #F79E10;
    font-size: x-large;
}

.trGrid {
    cursor: pointer;
}

    .trGrid:hover {
        color: black !important;
        background-color: #F79E10 !important;
    }

        .trGrid:hover span {
            color: black;
        }

.divSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.googleIcon {
    font-family: 'Material Icons';
}

.myBtn {
    position: fixed;
    bottom: 20px;
    z-index: 99;
    font-size: xx-large;
    border: none;
    outline: none;
    background-color: #464453;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

    .myBtn:hover {
        background-color: #F79E10;
    }
